:root {
    --main-padding: 60px; /* 使用屏幕宽度的2.5%作为内边距 */
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    /* cursor: url('mouse.png'), auto; /* 自动选择，默认使用图片 */
    min-height: 100vh; /* 确保 body 最小高度为 100vh */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--main-padding) 0 var(--main-padding);
    background: #ffffff;
    margin-bottom: 0; /* 确保 header 没有 margin-bottom */
    position: fixed; /* 使导航栏固定在顶部 */
    width: 100%; /* 使导航栏宽度为100% */
    top: 0; /* 固定在顶部 */
    z-index: 1000; /* 确保导航栏在最上层 */
    box-sizing: border-box; /* 确保内边距和边框在宽度计算中 */
}

header .logo h1 {
    margin: 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

header .logo h1 a {
    text-decoration: none;
    color: inherit;
}

header .logo #me {
    color: inherit;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

nav ul li a i {
    font-size: 14px;
}

nav ul li.info {
    margin-left: auto; /* 将 Info 元素推到最右边 */
    margin-right: 0; /* 确保 Info 与屏幕右端的间距为 0 */
}


/*
<li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
<li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
*/

/* 自我介绍 */

main {
    max-width: 100%;
    margin-top: 3.5em; /* 添加 margin-top 以避免内容被导航栏遮挡 */
}

.bio, .filter {
    padding-left: 0;
    width: 75%;
}

/* 自我介绍字体大小改为40px */
.bio {
    padding-left: var(--main-padding);
    margin-bottom: 2rem; /* 修正错误的 margin-bottom */
    font-size: 30px;
    margin-top: 0;
    padding-top: 0; /* 确保 bio 没有 padding-top */
}


/* 下拉框样式更新为横向排开选项 */
.filter {
    padding-left: var(--main-padding);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0; /* 确保 filter 没有 padding-top */
    gap: 1rem;
}

.filter label {
    margin-right: 10px;
    font-size: 14px;
}

.filter-options {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.filter-options label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-options input[type="checkbox"], .filter-options input[type="radio"] {
    display: none;
}

.filter-options .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #333;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.filter-options input[type="checkbox"]:checked + .circle, .filter-options input[type="radio"]:checked + .circle {
    background-color: #333;
}

/* 作品 */
.artworks {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 默认4列布局 */
    grid-auto-rows: minmax(100px, auto); /* 自动行高 */
    gap: 0; /* 设置间距 */
    margin: 0;
    padding: 0; /* 移除所有内边距 */
}

.art-item {
    background: #fff;
    text-align: left; /* 将文字对齐方式设为左对齐 */
    padding: 0; /* 增加内边距 */
    position: relative; /* 确保覆盖层正确定位 */
    overflow: hidden;
    height: calc((100vw / 4) * 1.2 - 40px);
}

@media (max-width: 1200px) {
    .artworks {
        grid-template-columns: repeat(2, 1fr);
    }
    .art-item {
        height: calc((100vw / 2) * 1.2 - 40px);
    }
}

@media (max-width: 800px) {
    .artworks {
        grid-template-columns: 1fr;
    }
    .art-item {
        height: calc(100vw * 1.2 - 40px);
    }
}

.art-item img {
    width: calc(100% - 2 * var(--main-padding));
    margin-left: var(--main-padding);
    position: relative;
    top: var(--main-padding);
    left: 0;
}

.art-item h3 {
    font-size: 14px;
    margin-top: 80px; /* 调整 margin-top */
    margin-bottom: 0.5rem; /* 确保 margin-bottom 正确 */
    display: flex;
    justify-content: space-between; /* 将 h3 内的内容两端对齐 */
    padding: 0 var(--main-padding);
}

.art-item p {
    font-size: 12px;
    margin: 0;
    padding: 0 var(--main-padding);
}

.art-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 默认透明度为20%的黑色 */
    opacity: 0;
    transition: opacity 0.3s;
}

.art-item:hover .overlay {
    opacity: 1;
}


.content-wrapper {
    flex: 1 0 auto; /* 确保内容部分占据可用空间 */
}

footer {
    background: #fff;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    flex-shrink: 0; /* 防止 footer 收缩 */
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/*对于project来说*/
.project-navigation {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 2em; /* Adjust based on header height */
    z-index: 900;
    padding: 1rem 0;
}

.project-navigation h2 {
    margin: 0;
    padding-left: var(--main-padding);
    font-size: 14px;
    position: relative; /* 设置相对定位 */
}

.nav-arrow {
    font-size: 14px;
    text-decoration: none;
    color: #333;
    padding: 0;
    position: absolute;
}

.nav-arrow.left-arrow {
    left: calc(var(--main-padding) / 2);
}

.nav-arrow.right-arrow {
    left: calc(100% + 10px); /* 定位到标题右侧并保持10px的间距 */
}

.project-content {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    max-width: 100%;
    margin-top: 4.5rem; /* Avoid content being hidden under the navigation bar */
    flex-wrap: wrap; /* 允许换行 */
}

.left-column, .right-column {
    box-sizing: border-box;
}

.left-column {
    width: 45%;
    padding-left: var(--main-padding);
}

.right-column {
    width:50%;
    padding-right: var(--main-padding);
}

@media (max-width: 1200px) {
    .left-column, .right-column {
        width: 100%; /* 宽度为98% */
        padding-left: var(--main-padding);
        padding-right: var(--main-padding);
    }
}


/* 媒体内容 */
.media-content {
    margin: 0 var(--main-padding);
}

.media-content video {
    width: 100%; /* 宽度为距离左右20px */
}

.media-content p{
    text-align: center;
    margin-bottom: 100px;
    font: 1rem;
}

.video-container {
    position: relative;
    width: 100%; /* 宽度为距离左右20px */
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* 设置图片之间的间距 */
    margin-top: 20px; /* 设置图片与视频之间的间距 */
}

.image-item img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .image-gallery